body{
    background-color: lightskyblue;
    color: white; /*Text color*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
h5{
    text-align: center;
    font-style: italic;
    background-color: darkgray;
    opacity: 80%;
    font-weight: bolder;
}
a{
    color:maroon
}
a:visited{
    color:orange
}
img{
    border: 2px solid goldenrod;
    padding: 3px;
    margin: 5px;
    /*Center stuff*/
    display: block;
    margin: auto;
}
.rizz{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    background-color: orange;
    border: dashed gray 5px;
    font-size: larger;
    font-style: italic;
}
.rizz:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    font-size: larger;
    font-style: normal;

}
li{
    text-decoration: overline;
}
li:hover{
    text-decoration: underline;
}
